@model Padel.Web.Mvc.Areas.Admin.Controllers.ViewModels.Torneos.VerificarTorneoEmailModelView
@{
    Layout = null;
    String raiz = System.Web.Configuration.WebConfigurationManager.AppSettings["RaizPadelApp"];
    String name = System.Web.Configuration.WebConfigurationManager.AppSettings["NombreApp"];
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@name - Verificar Torneo</title>
    @Html.Partial(MVC.Emails.Views._Estilo)
</head>
<body>
    <div>
        <h2>
            @name - Verificar Torneo</h2>
        <br />
        Usted está registrado en el torneo <b>@Model.NombreTorneo - @Model.NombreCategoria</b> con el equipo <b>@Model.NombreEquipo.</b>
        <br />
        <br />
        No olvide pagar la entrada al torneo antes de su comienzo.
        <br />
        <br />
        Esperamos que disfrute del torneo,<br /><br />
        <i>@name</i>
    </div>
</body>
</html>
