@using Padel.Web.Mvc.Controllers.ViewModels.Menu;
@{
    SideMenuJugadorModelView SideMenuJugadorModelView = (SideMenuJugadorModelView)ViewBag.SideMenuJugadorModelView;
}
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            @*<li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search..." />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>*@
            <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Dashboard ? "open" : "")">
                <a href="@(Url.Action(MVC.Jugador.ActionNames.Index, MVC.Jugador.Name))"><i class="fa fa-dashboard fa-fw">
                </i>Dashboard</a> </li>
            <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Datos ? "open" : "")">
                <a href="@(Url.Action(MVC.Jugador.ActionNames.Datos, MVC.Jugador.Name))"><i class="fa fa-edit fa-fw">
                </i>Tus datos</a> </li>
            <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Equipos ? "open" : "")">
                <a href="@(Url.Action(MVC.Jugador.ActionNames.Equipos, MVC.Jugador.Name))"><i class="fa fa-user fa-fw">
                </i>Tus equipos</a> </li>
            <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Torneos || SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Partidos 
            ? "active" : "")">
                <a href="#"><i class="fa fa-sitemap fa-fw"></i>Competiciones<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Torneos ? "open" : "")">
                        <a href="@(Url.Action(MVC.Jugador.ActionNames.Torneos, MVC.Jugador.Name))"><i class="fa fa-sitemap fa-fw">
                        </i>Tus torneos</a> </li>
                    <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Partidos ? "open" : "")">
                        <a href="@(Url.Action(MVC.Jugador.ActionNames.Partidos, MVC.Jugador.Name))"><i class="fa fa-table fa-fw">
                        </i>Tus partidos</a> </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Graficas ? "active" : "")">
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Gráficas<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="@(SideMenuJugadorModelView.SideMenuJugador == SideMenuJugadorEnum.Graficas ? "open" : "")"><a href="@(Url.Action(MVC.Jugador.ActionNames.Graficas, MVC.Jugador.Name))">Tus
                        resultados</a> </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->
