<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" ng-app="padelApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @Styles.Render("~/Content/css/adminbase")
    @RenderSection("CSSSection", false)
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial(@MVC.Admin.Shared.Views._Header)
    <div class="content">
        @Html.Partial(@MVC.Admin.Shared.Views._SideBar)
        <div class="mainbar">
            @Html.Partial(@MVC.Admin.Shared.Views._PageHead)
            <div class="matter">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js/base")
    @Scripts.Render("~/bundles/js/adminbase")
    @RenderSection("JSSection", false)
</body>
</html>
