<html xmlns="http://www.w3.org/1999/xhtml" lang="es" ng-app="padelApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    @Styles.Render("~/Content/css/base")
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        @Html.Partial(MVC.Shared.Views.Errors._Error)
        @RenderBody()
        @Html.Partial(@MVC.Shared.Views._Footer)
    </div>
    <!-- /container -->
    @Scripts.Render("~/bundles/js/base")
</body>
</html>
