<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" ng-app>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="@Url.Content(@Links.Content.bootstrap.css.bootstrap_css)" rel="stylesheet" />
    <link href="@Url.Content(@Links.Content.bootstrap.css.bootstrap_theme_css)" rel="stylesheet" />
    <link href="@Url.Content(@Links.Content.bootstrap.carousel.carousel_css)" rel="stylesheet" />
    <link href="@Url.Content(@Links.Content.Site_css)" rel="stylesheet" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial(@MVC.Shared.Views._NavBar)
    @Html.Partial(@MVC.Shared.Views._Carousel)
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        @Html.Partial(MVC.Shared.Views.Errors._Error)
        @RenderBody()
        @Html.Partial(@MVC.Shared.Views._Footer)
    </div>
    <!-- /.container -->
    <script src="@Url.Content(@Links.Scripts.jquery_1_9_1_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.jquery_validate_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.jquery_validate_unobtrusive_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.additional_methods_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.jquery_unobtrusive_ajax_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.bootstrap.bootstrap_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.bootstrap.bootstrap_validation_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.bootstrap.holder_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.angularjs.angular_min_js)" type="text/javascript"></script>
    <script src="@Url.Content(@Links.Scripts.padel.padel_js)" type="text/javascript"></script>
</body>
</html>
