@model Padel.Web.Mvc.Controllers.ViewModels.Operaciones.UsuarioOperacionModelView
@{
    TempData["Index"] = ((int)TempData["Index"]) + 1;
    
}
<li class="@(((int)TempData["Index"]) % 2 == 1 ? "timeline-inverted" : "")">
    <div class="timeline-badge @(Model.Accion == Padel.Domain.Operaciones.UsuarioOperacion.AccionEnum.Entrar.ToString() ? "success" : "")">
        @if(@Model.Accion == Padel.Domain.Operaciones.UsuarioOperacion.AccionEnum.Entrar.ToString())
        {
            <i class="fa fa-thumbs-up"></i>
            
        }
        else if(@Model.Accion == Padel.Domain.Operaciones.UsuarioOperacion.AccionEnum.Registrar.ToString())
        {
            <i class="fa fa-check"></i>
        }
    </div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">
                Evento @Model.Accion</h4>
            <p>
                <small class="text-muted"><i class="fa fa-time"></i>@Model.FechaCreacion.ToLongDateString()</small>
            </p>
        </div>
        <div class="timeline-body">
            <p>
                @Model.Mensaje</p>
        </div>
    </div>
</li>
